header
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 3
.header-top
    padding: 8px 0
    background: $white
    .flex
        align-items: center
        justify-content: space-between
    .logo
        width: 250px
        overflow: hidden
        @include mediaMax(675px)
            max-width: 120px
        a
            display: block
            margin-top: -13px
            @include mediaMax(675px)
                margin-top: -5px
            img
                display: block
                max-width: 200px
                @include mediaMax(675px)
                    max-width: 120px

.header-bottom
    background: $green
    padding: 5px 0
    .flex
        justify-content: space-between
        align-items: center
    
.nav
    @include mediaMax(991px)
        display: none
    ul
        display: flex
        li
            a         
                display: block    
                color: $white
                padding: 10px
                font-weight: 300
                @include mediaMax(1366px)
                    padding: 10px 2px
            &:not(:last-child)
                margin-right: 15px
.humburger
    display: none   
    @include mediaMax(991px)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 35px
        height: 35px
        cursor: pointer
        span
            display: block       
            width: 100%
            height: 1px
            background: $white 
            position: relative
            &::before, &::after
                content: ""
                position: absolute
                width: 100%
                height: 1px
                background: $white
            &::before
                top: -8px
            &::after
                bottom: -8px
                 
.rightnav
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 0 10px
    @include mediaMax(991px)
        width: 100%
    @include mediaMax(675px)
        justify-content: space-between
    a.icon
        width: 35px
        height: 35px
        border-radius: 35px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center 
        background: trnsparent
        transition: .5s ease
        img
            width: auto
            height: 20px
    .button
        @include mediaMax(1366px)
            padding: 7px 15px
        &:first-child
            @include mediaMax(675px)
                display: none
                       

.modelHumburgerMenu
    position: fixed
    top: 0
    left: 0
    width: 320px 
    width: 100%
    background: $white                      
    z-index: 11
    .modelErap
        position: relative