header
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 3
.header-top
    padding: 8px 0
    background: $white
    .flex
        align-items: center
        justify-content: space-between
    .logo
        width: 250px
        overflow: hidden
        @include mediaMax(675px)
            max-width: 120px
        a
            display: block
            margin-top: -13px
            @include mediaMax(675px)
                margin-top: -5px
            img
                display: block
                max-width: 200px
                @include mediaMax(675px)
                    max-width: 120px

.header-bottom
    background: $green
    padding: 5px 0
    .flex
        justify-content: space-between
        align-items: center
    
.nav
    @include mediaMax(991px)
        display: none
    ul
        display: flex
        li
            a         
                display: block    
                color: $white
                padding: 10px
                font-weight: 300
                @include mediaMax(1366px)
                    padding: 10px 2px
            &:not(:last-child)
                margin-right: 15px
        .HasDesDrop
            position: relative
            a
                padding-right: 28px
            .sericon
                position: absolute
                right: 0
                top: 11px
                img
                    display: block
                    filter: grayscale(0) brightness(0) invert(1)
                    width: 20px
            .DesCustomDropDown
                width: 992px
                position: absolute
                top: 100%
                left: 0
                padding-top: 8px
                display: none
                .cuseDrWrap
                    background: $white
                    padding: 25px
                    border-radius: 15px
                    .col
                        flex: 0 1 25%
                        max-width: 25%
                        width: 100%
                        padding: 0px
                    .item
                        .title
                            font-size: 18px
                            font-weight: 700
                            line-height: 24.55px
                            letter-spacing: normal
                            text-align: left
                            color: $green
                            margin-bottom: 20px

                        ul
                            display: block
                            li
                                display: block
                                a
                                    color: $green
                                    font-size: 15px
                                    padding: 6px 15px
                                    background: $white
                                    border-radius: 20px
                                    transition: .5s ease
                                    &:hover
                                        background: $green
                                        color: $white
            &:hover
                .DesCustomDropDown
                    display: block
.humburger
    display: none   
    @include mediaMax(991px)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 35px
        height: 35px
        cursor: pointer
        span
            display: block       
            width: 100%
            height: 1px
            background: $white 
            position: relative
            &::before, &::after
                content: ""
                position: absolute
                width: 100%
                height: 1px
                background: $white
            &::before
                top: -8px
            &::after
                bottom: -8px
                 
.rightnav
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 0 10px
    @include mediaMax(991px)
        width: 100%
    @include mediaMax(675px)
        justify-content: space-between
    a.icon
        width: 35px
        height: 35px
        border-radius: 35px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center 
        background: trnsparent
        transition: .5s ease
        img
            width: auto
            height: 20px
    .button
        @include mediaMax(1366px)
            padding: 7px 15px
        &:first-child
            @include mediaMax(675px)
                display: none
                       

.modelHumburgerMenu
    position: fixed
    top: 0
    left: 0
    max-width: 420px 
    width: 100%
    background: $white                      
    z-index: 11
    height: 100vh
    transform: translateX(-420px)
    transition: .5s ease
    @include mediaMin(992px)
        display: none
    &.activeModel
        transform: translateX(0px)

    .modelErap
        position: relative
    .closeModel
        position: absolute
        width: 30px
        height: 30px
        top: 5px
        right: 5px
        cursor: pointer
        z-index: 2
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        img
            display: block
            width: 26px
            filter: invert(1)
    .modelHed
        background: $green url('../images/p3.jpg')
        padding: 25px
        position: relative
        background-size: cover
        background-position: center
        &:before
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: #245f1d61
            z-index: 1
            content: ""
            backdrop-filter: blur(5px)
        .modelGewr
            position: relative
            z-index: 1
            text-align: center
            .icon
                width: 45px
                height: 45px
                background: $white
                margin: 0 auto
                border-radius: 50px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                img
                    filter: grayscale(0) brightness(0)
                    display: block
                    margin: 0 auto
                    width: 20px
            p
                margin-top: 10px
                color: $white
                font-size: 14px
                display: block
            a
                display: inline-block
                color: #345d48
                background: #fff
                padding: 4px 14px
                border-radius: 16px
                font-size: 12px
                margin-top: 5px
    .modelNav
        padding: 30px 15px
        height: calc(100vh - 174px)
        overflow-y: scroll
        .navWrap
            ul
                >li
                    display: block
                    color: $text
                    font-size: 25px
                    font-weight: 600
                    padding: 5px 0
                    position: relative
                    .suntr
                        position: absolute
                        top: 0
                        right: 0
                        svg
                            width: 14px
                            height: 14px
                    >a 
                        color: inherit
                        font-size: inherit
                        font-weight: inherit
                    .cusdtDropNav
                        display: none
                        background: #f1f1f1
                        padding: 15px 10px
                        padding-left: 15px
                        border-left: 2px solid $lgreen
                        .li
                            a
                                display: block
                                color: $text
                                font-size: 14px
                                font-weight: 300
                                padding: 3px 0
        .linmne
            margin: 20px 0
            border-top: 1px solid $black
            opacity: .5
        .smnave
            ul
                li
                    display: block
                    a
                        color: $text
                        font-size: 14px
                        font-size: 500
                        display: block
                        padding: 3px 0
    .contactin
        margin-top: 15px
        ul
            display: flex
            gap: 0 15px
            li
                a
                    font-size: 14px
                    color: #666