*,*:before,*:after
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
    outline: none
    border: 0

html,body
    font-family: $font
    font-size: 16px
    line-height: 1.4
    color: $text
    background: $white    
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    font-variation-settings: "wdth" 100, "YTLC" 500
body.no-banner
    main
        margin-top: 127px
        @include mediaMax(675px)
            margin-top: 82px

.container
    max-width: 1250px
    width: 100%
    margin: 0 auto
    padding: 0 15px
.container-fluid
    max-width: 100%
    width: 100%
    margin: 0 auto
    padding: 0 25px    
    @include mediaMax(991px)
        padding: 0 15px
h1,h2,h3,h4,h5,h6
    font-style: normal
    font-weight: 800
    letter-spacing: 0.03em
    line-height: 1.5
main
    @include mediaMax(1000px)
        margin-top: 95px
    @include mediaMax(675px)
        margin-top: 82px
h1
    font-size: 59px
    @include mediaMax(1366px)
        font-size: 45px
        line-height: 1.2
    @include mediaMax(991px)
        font-size: 40px
        line-height: 1.2
    @include mediaMax(675px)
        font-size: 35px
        line-height: 1.2
    @include mediaMax(520px)
        font-size: 25px
        line-height: 1.2
h2
    font-size: 40px
h3
    font-size: 30px
h4
    font-size: 25px
h5
    font-size: 20px
h6
    font-size: 18px
.heading
    &.text-center
        text-align: center
    h2
        color: $green
        margin-bottom: 0px
        font-size: 59.333px
        font-style: normal
        font-weight: 900
        line-height: normal
        letter-spacing: 1.78px
        @include mediaMax(1366px)
            font-size: 40px
            letter-spacing: normal
        @include mediaMax(675px)
            font-size: 30px
            line-height: 1.2
            margin-bottom: 12px
        @include mediaMax(520px)
            font-size: 25px
    p
        color: $text
        font-size: 18px
        font-weight: 600
        @include mediaMax(1366px)
            font-size: 16px

img
    max-width: 100%        

input,button,textarea, select
    font-family: $font
    font-size: 16px
    line-height: 1.4
    color: $text
    font-weight: normal
input[type="button"],input[type="submit"],button
    cursor: pointer
.flex
    display: flex
    flex-wrap: wrap

.social-link
    ul
        display: flex
        gap: 0
        li
            display: block
            a
                width: 40px
                height: 40px
                border-radius: 40px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center 
                background: $white
                transition: .5s ease
                img
                    width: 20px
                    height: 20px
                &:hover
                    background: #f1f1f1   

.button
    display: inline-block
    padding: 0 0
    font-style: normal
    font-weight: 300
    font-size: 16px
    display: flex
    align-items: center
    letter-spacing: 0.03em
    color: $white
    padding: 10px 20px
    border: 1px solid $white
    border-radius: 15px
    transition: .5s ease
    &:hover
        border-radius: 50px
                    
.premlink
    background: $white
    padding: 20px 0
    border-bottom: 1px solid #E8E8EA
    @include mediaMax(767px)
        display: none
    ul
        display: flex
        gap: 0 8px
        li
            
            a,span       
                display: block      
                font-size: 18px
                font-style: normal
                font-weight: 600
                line-height: 150%
                letter-spacing: 0.54px  
            a
                color: #7A7A7A
            span
                color: $green
                font-weight: 800 
.filttrig,.titopro
    display: flex
    align-items: center
    justify-content: center
    gap: 8px
    @include  mediaMin(1201px)
        display: none
.prodifwr        
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    padding: 8px 0
    border: 1px solid #f1f1f1
    border-left: 0
    border-right: 0
    margin-left: -15px
    margin-right: -15px
    margin-top: 25px
    padding: 5px 15px
    
.E-productList                
    padding: 60px 0
    .container
        position: relative
        .heading
            max-width: 1160px
            padding-right: 180px
            @include mediaMax(1200px)
                padding-right: 0
        .sortPrd
            position: absolute
            right: 15px
            top: 0
            @include mediaMax(1200px)
                position: static
            select
                display: block
                display: block
                border: 1px solid #c5c5c5
                padding: 12px 13px
                padding-right: 35px
                border-radius: 8px
                color: #7A7A7A
                font-size: 14px
select
  -webkit-appearance: none
  -moz-appearance: none
  text-indent: 1px
  text-overflow: ''                
.form
    .form-group
        position: relative
        margin-bottom: 15px
        .icon
            position: absolute
            top: 15px
            line-height: 0
            right: 15px
        .form-control
            border-radius: 16px
            border: 1px solid #E8E8E8
            background: #FFF
            padding: 15px
            width: 100%
            color: #9F9F9F
            font-size: 14px
            font-style: normal
            font-weight: 600
            line-height: 150% /* 21px */
            letter-spacing: normal
            option
                color: #666

.overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100vh
    background: $black
    z-index: 3  
    opacity: 0
    pointer-events: none
    transition: .5s ease
    &.active
        opacity: .5
        pointer-events: all
.model-active
    height: 100vh
    overflow: hidden
    .overlay
        opacity: .5
        pointer-events: all

.form.formlabe
    .form-group
        position: relative
        .form-control,.input-control
            display: block
            padding: 20px 16px 6px
            color: #1E1E1E
            font-size: 16px
            font-style: normal
            font-weight: 600
            line-height: 150% /* 24px */
            letter-spacing: 0.48px
            &:focus ~ label
                top: 4px
                font-size: 11px
                
        label
            position: absolute
            left: 15px
            top: 17px 
            color: #9F9F9F
            font-size: 12.772px
            font-style: normal
            font-weight: 600
            line-height: 150% /* 19.158px */
            letter-spacing: 0.383px  
            pointer-events: none
            transition: .5s ease
        &.valid 
            label
                top: 4px
                font-size: 11px

.modelLogin                
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: $white
    padding: 25px
    width: 644px
    z-index: 4
    border-radius: 18px
    display: none
    .modelBody
        max-width: 500px
        width: 100%
        margin: 0 auto
        .closeModel
            position: absolute
            right: 20px
            top: 8px
            width: 40px
            height: 40px
            cursor: pointer
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            img
                width: 26px
                display: block
        .title
            color: $green
            text-align: center
            font-size: 40px
            font-style: normal
            font-weight: 900
            line-height: normal
            letter-spacing: 1.2px
        p
            color: #1E1E1E
            text-align: center
            font-size: 16px
            font-style: normal
            font-weight: 700
            line-height: 112% /* 17.92px */
            letter-spacing: 0.32px
        .form.formlabe
            margin-top: 35px
            .form-group
                .input-control
                    border: 1px solid #E8E8E8
                    width: 100%
                    border-radius: 16px
                    padding: 20px 16px 10px
            .form-btn
                margin-top: 20px
                .button
                    border: 1px solid $green
                    color: $green
                    text-align: center
                    background: $white
                    width: 100%
                    align-items: center
                    justify-content: center
                    padding: 14px 20px
.model-active
    .modelProduEnq   
        top: 50%
        transform: translate(-50%, -50%)
.modelProduEnq                
    position: fixed
    top: 100%
    left: 50%
    transform: translate(-50%, 100%)
    background: $white
    width: 986px
    z-index: 4
    border-radius: 18px
    transition: .5s ease
    .modelBody
        background: $white
        border-radius: 50px
        padding: 30px 50px
        .closeModel
            position: absolute
            right: 20px
            top: 8px
            width: 40px
            height: 40px
            cursor: pointer
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            img
                width: 26px
                display: block
        .title
            color: #2E522A
            font-size: 42px
            font-style: normal
            font-weight: 800
            text-align: center
            line-height: normal
        p
            color: $lgreen
            text-align: center
            font-size: 16px
            font-style: normal
            font-weight: 600
            line-height: 150% /* 27px */
        .modeDev
            margin-top: 40px
            .col
                width: 50%
        .form.formlabe
            .col1
                width: 100%
                padding: 0 7px
            .col2
                padding: 0 7px
                width: 50%
        .form-btn
            display: flex
            align-items: center
            justify-content: flex-end
            gap: 0 8px
            .button
                padding: 13px 23px
                flex-direction: column
                align-items: center
                gap: 8px
                border-radius: 16px
                &.cler
                    color: #2E522A
                    text-align: center
                    font-size: 16px
                    font-style: normal
                    font-weight: 700
                    line-height: 150% /* 24px */
                    letter-spacing: 0.48px
                &.save
                    background: #2E522A
.owl-carousel 
    .owl-dots
        position: absolute
        bottom: 30px
        left: 0
        right: 0
        text-align: center
        .owl-dot 
            width: 15px
            height: 15px
            border-radius: 15px
            background: #FFF
            margin: 0 6px
            opacity: .2
            &.active
                opacity: 1
.Model_Video
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    z-index: 99
    background: #000
    transform: translateY(100%)
    transition: .5s ease
    .closeModel
        position: absolute
        top: 10px
        right: 15px
        width: 45px
        height: 45px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        cursor: pointer
        img
            width: 27px
            filter: invert(1)
.Model_Video.is-open 
    transform: translateY(0%)


.Model_Video.is-open iframe 
    display: block
    

.Model_Video .modelBody 
    height: 100%
    display: flex
    align-items: center
    justify-content: center


.Model_Video  iframe 
    width: 100%
    height: 100vh
    border: 0
    display: none
    