.contactPageIn
    padding: 60px 0
    @include mediaMax(992px)
        padding-bottom: 0
    .col1
        width: 100%
        flex: 0 1 45%
        max-width: 45%
        padding-right: 60px
        @include mediaMax(992px)
            flex: 0 1 100%
            max-width: 100%
            padding-right: 00px
    .col2
        flex: 0 1 55%
        max-width: 55%
        width: 100%
        @include mediaMax(992px)
            flex: 0 1 100%
            max-width: 100%
            padding-right: 00px
    .heading
        margin-bottom: 30px
        max-width: 447px
        @include mediaMax(992px)
            flex: 0 1 100%
            max-width: 100%
        p
            margin-bottom: 40px
    .form
        .form-group
            margin-bottom: 20px
            .form-control
                color: var(--Gray-8, #A5A3A9)
                font-size: 14px
                font-style: normal
                font-weight: 700
                line-height: 116%
                padding: 8px 16px
                border-radius: 18px
                border: 1px solid #E8E8EA
                background: $white
                display: block
                width: 100%
                height: 56px
            textarea.form-control
                height: 150px
                padding-top: 20px
        .button
            background: $green
            padding: 13px 35px
    .map
        width: 100%
        height: 100%
        overflow: hidden
        border-radius: 20px
        iframe
            width: 100%
            height: 100%
            @include mediaMax(992px)
                height: 320px

.contactPageInA            
    padding: 50px 0
    .col
        flex: 0 1 25%
        max-width: 25%
        width: 100%
        padding: 10px
        @include mediaMax(1200px)
            padding: 5px
        @include mediaMax(992px)
            flex: 0 1 50%
            max-width: 50%
        @include mediaMax(520px)
            flex: 0 1 100%
            max-width: 100%

    .card
        padding: 15px
        background: $white
        border-radius: 30px
        border: 1px solid #E8E8EA
        background: #FFF
        height: 100%
        @include mediaMax(1200px)
            padding: 10px
        h3
            color: #2E522A
            font-style: normal
            line-height: normal
            font-size: 24px 
            font-weight: 900
            letter-spacing: 0.72px
            margin-top: 20px
            @include mediaMax(1200px)
                font-size: 20px 
                font-weight: 800
                letter-spacing: normal
        p
            color: #7A7A7A
            font-style: normal
            line-height: 150% /* 27px */
            font-size: 18px
            font-weight: 600
            letter-spacing: 0.54px
            margin-bottom: 20px
            @include mediaMax(1200px)
                font-size: 16px
                font-weight: 500
                letter-spacing: normal
        .button
            color: #A5A3A9
            border-color: #A5A3A9
            margin-bottom: 10px
            font-weight: 700
            @include mediaMax(1200px)
                font-size: 14px
                font-weight: 500